:root {
    --text-color:#757575;
    --primary-color:#212121;
    --accent-color: #2196F3;
    --primary-font:'Roboto', sans-serif;
    --primary-white-color: #FFFFFF;
    --bottom-background-color: #F5F4FA;
    --icon-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

address {
    font-size: normal;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--header-border);
    background-color: var(--primary-white-color);
    border-bottom: 1px solid #ececec;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

.web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    letter-spacing: 0.03em;
}

.lg-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.lg-header {
    margin-bottom: 20px;
    display: block;
}

.studio-header {
    color: var(--primary-color);
    margin-right: 93px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu .menu-list .current-link{
    color: var(--accent-color);
    position: relative;
}

.menu .menu-list .current-link::after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background: #2196F3;
    border-radius: 2px;
    display: flex;
}

.menu-link {
    font-weight: 500; 
    line-height: 1.14;
    vertical-align: Top; 
    letter-spacing: 0.02em;
    color: var(--primary-color);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.current-link {
    color: var(--accent-color);
}

.menu-contacts {
display: flex;
align-items: center;
gap: 50px;
margin-left: auto;
}

.list {
    list-style: none;
}

.menu-link-contacts {
    font-weight: 500;
    line-height: 1.14;
    vertical-align: Top;
    letter-spacing: 0.02em;
    color: var(--text-color);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.menu-link-contacts:hover,
.menu-link-contacts:focus {
    color: var(--accent-color);
    }

.icon-mail {
    fill: currentColor;
    margin-right: 10px;
    margin-bottom: 0;
    }
    
.icon-tel {
    fill: currentColor;
    margin-right: 10px;
    }

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    }

    .section-black {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    }

    .section-black {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/background-image.jpg);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: #2F303A;
    }

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    vertical-align: Top;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
    max-width: 696px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.main-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    vertical-align: Center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    padding: 10px 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    color: var(--primary-white-color);
    background-color: #188ce8;
}

.sub-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.services {
    display: flex;
    gap: 30px;
}

.icons-features {
    background-color: var(--bottom-background-color);
    align-items: center;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.third-paragraph {
    font-weight: 700;
    line-height: 1.14;
    line-height: 100%;
    vertical-align: Top;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 10px;
    max-width: 270px;
    max-height: 16px;
    font-size: 14px;
}

.subtitle {
    font-weight: 400;
    line-height: 1.71;
    vertical-align: Top;
    letter-spacing: 0.03em;
    color: var(--text-color);
    max-width: 270px;
    max-height: 72px;
}

.work-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-section-add {
    padding-top: 0;
}

.secondary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    vertical-align: Top;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 0;
}

.pictures-work {
    display: flex;
    gap: 30px;
}

.pictures-work-list {
    position: relative;
}

.text-on-the-picture {
    position: absolute;
    bottom:0;
    left:0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    width: 370px;
    height: 70px;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px;
}

.secondary-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.secondary-section {
    background-color: var(--bottom-background-color);
}

.add-secondary-section {
    background-color: var(--bottom-background-color);
}

.pictures-workers {
    display: flex;
    gap: 30px;
}

.team-list {
    color: var(--primary-color);
    background-color: var(--primary-white-color);
    text-align: center;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.workers {
    padding-top: 30px;
    padding-bottom: 30px;
}

.workers-names {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.secondary-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    vertical-align: Top;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 16px;
    text-align: center;
}

.social-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-list {
    margin: 0;
    padding: 0;
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-item-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--icon-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link:hover,
.social-item-link:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.icon {
    fill: currentColor;
}

.icon:hover {
    fill: var(--primary-white-color);
}

.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.icon-clients {
    display: flex;
    gap:30px;
    justify-content: center;
}

.clients-lg {
    display: flex;
    width: 170px;
    height: 92px;
    background-color: var(--primary-white-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-lg:hover,
.clients-lg:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clients-link {
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
    fill: var(--accent-color);
}

.client-item {
    width: 170px;
    height: 92px;
}

.footer-black {
    background-color: #2F303A;
}

.footer-black {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-block {
    display: flex;
    align-items: baseline;
}

.logo-bottom {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-bottom {
    margin-bottom: 20px;
    display: block;
}

.studio-footer {
    color: var(--primary-white-color);
}

.adress {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.adress {
    font-weight: 400;
    line-height: 1.71;
    vertical-align: Top;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress:hover,
.adress:focus {
    color: var(--accent-color);
}

.footer-list:not(:last-child) {
    margin-bottom: 9px;
}

.address {
    font-weight: 400;
    line-height: 1.71;
    vertical-align: Top;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
    color: var(--accent-color);
}

.footer-social-list {
    display: block;
    margin-left: 70px;
}

.footer-social-title {
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

}

.footer-social-title {
    display: block;
}

.social-icon {
    width: 44px;
    height: 44px;
}

.social-icon-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-white-color);
}

.social-icon-link {
    fill: currentColor;
    background-color: rgba(255, 255, 255, 10%);
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    fill: var(--primary-white-color);
    background-color: var(--accent-color);
}

.footer-icon {
    fill: currentColor;
}








.main-section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-button-portfolio {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}

.btn-portfolio:not(:last-child) {
margin-right: 8px;
}

.btn-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    vertical-align: Center;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    background-color: var(--bottom-background-color);
    cursor: pointer;
    border: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pictures-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item-portfolio-card:hover,
.item-portfolio-card:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-portfolio-card:hover .overlay-text {
transform: translateY(0);
}

.overlay {
position: relative;
overflow: hidden;
}

.overlay-text {
    position:absolute;
    top: 0;
    left:0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    height: 100%;
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms linear;
}

.description {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.picture-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    vertical-align: Top;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.secondary-picture-name {
    font-size: 16px;
    line-height: 1.87;
    vertical-align: Top;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    min-height: 500px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.button-modal {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    right: 10px;
    top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-icon {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    opacity: 0.3;
    transition: opacity 300ms linear;
}


