.section__black {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.section__black {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/background-image.jpg);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: #2F303A;
}

.section__black-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    vertical-align: Top;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
    max-width: 696px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.section__black-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    vertical-align: Center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    padding: 10px 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section__black-button:hover,
.section__black-button:focus {
    color: var(--primary-white-color);
    background-color: #188ce8;
}