:root {
    --text-color: #757575;
    --primary-color: #212121;
    --accent-color: #2196F3;
    --primary-font: 'Roboto', sans-serif;
    --primary-white-color: #FFFFFF;
    --bottom-background-color: #F5F4FA;
    --icon-color: #afb1b8;
}